<!-- Profolio Page -->
<div class="container text-white">

  <div class="jumbotron text-dark">
    <h1>Kitchen Crisis</h1>
    <p>It's a tower-defense game</p>
    <p>4 People Team in NDHU</p>
  </div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Bacis</b>
  </span>
</div>
<div class="">
  <p>It's a tower-defense game made by Unity.</p>
  <p>The game goal is: you need to control the number of escaped food is less than required in each level.
  It means you need to defeat the food as much as possible. You also need to achive hidden requests to lock the special recipe.</p>
</div>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Features</b>
  </span>
</div>
<div >
  <ul class="ProfolioContent" >
    <li>Multiple recipe collection</li>
    <li>Change pot temperature to change its attack</li>
    <li>Different evolution ways for pots</li>
  </ul>
  <br>
  <br>
</div>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Gallery</b>
  </span>
</div>
<!-- [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" -->
<ngb-carousel #carousel interval="1000">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3> Game Shots {{i+1}} </h3>
    </div>
    <a href="https://www.google.fr/?q=Number+{{i+1}}"  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img class="img-fluid" [src]="img" alt="My image {{i + 1}} description">
      </div>
    </a>
  </ng-template>
</ngb-carousel>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Link</b>
  </span>
</div>
<div>
  <a href="https://drive.google.com/open?id=16O5Rc4oN3eM2beKc11EBR6TOLIOp8uT5">Kitchen Crisis Game Link</a>
  <br>
  <br>
</div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle text-dark">
    <b>Game Video</b>
  </span>
</div>
<div class="container  d-flex justify-content-center ">
  <iframe class="align-middle" width="600"height="500" src="https://www.youtube.com/embed/fAhICANDQjY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




</div>
