<nav class="navbar navbar-expand-sm text-white justify-content-end">
  <ul class="navbar-nav text-center">
    <li class="nav-item">
      <a class="nav-link" routerLink="/#" routerLinkActive="active">Home</a>
    </li>

    <li class ="NavSeparator">
      /
    </li>


    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav_Profolio" routerLinkActive="active">Profolio</a>
    </li>

    <li class ="NavSeparator">
      /
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav_Article" routerLinkActive="active">Article</a>
    </li>

    <li class ="NavSeparator">
      /
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav_About" routerLinkActive="active">About Me</a>
    </li>

  </ul>
</nav>


<!-- <div class="NavBar">
  <nav>
    <a class="NavTag" routerLink="/Nav_Home" routerLinkActive="active">Home</a> /
    <a class="NavTag" routerLink="/Nav_Profolio" routerLinkActive="active">Profolio</a> /
    <a class="NavTag" routerLink="/Nav_Article" routerLinkActive="active">Article</a> /
    <a class="NavTag" routerLink="/Nav_About" routerLinkActive="active">About</a>
  </nav>
</div> -->
