// .NavBar{
//   color:grey;
//   float:right;
//   height:70px;
//   .NavTag{
//     font-size: 20px;
//     width:100px;
//     margin-left: 10px;
//     margin-right: 10px;
//   }
// }

nav a{
  color:grey;
}
nav a.active{
  color:white;
}

//
.nav-item{
  font-size: 22px;
  max-width: 200px;
  width:-webkit-fit-content;
  width:-moz-fit-content;
}

.NavSeparator{
  padding-top: 12px;
  width:20px;
}
