<div class="container text-white">
  <h1>About Me</h1>
  <p>
    Hi, I am Wentao Pu. Welcome to my personal blog.
  </p>
  <br>

  <h2>Education</h2>
  <ul>
    <li><p>Earned a BA in Computer Science of Information System from National Dong Hwa University</p></li>
    <li><p>Pursuing a MA in Computer System Engineering from Northeastern University</p></li>
  </ul>
  <br>

  <h2>Contact</h2>
  <p>Email: <a href="winterpu.gd@gmail.com">winterpu.gd@gmail.com</a></p>
  <a href="https://www.linkedin.com/in/wentao-pu-724348170/" class="fa fa-linkedin"></a>
  <!-- Reference https://www.w3schools.com/howto/howto_css_social_media_buttons.asp -->
</div>
