.Blog{
  background: black;
  height:100vh;
}

.MainPage{
  padding-top:6%;
  padding-left: 15%;
  padding-right: 15%;
  .MainContent{
    margin-top:100px;
    background: white;
    height:100vh;
  }
}
