<!-- <div [ngSwitch]="id" class="text-white">
  <div *ngSwitchCase="'1'">
    <markdown ngPreserveWhitespaces>
        # Markdown
    </markdown>
    <markdown [src] = "'assets/blog/My_First_Post.md'"></markdown>
  </div>

  <div *ngSwitchCase="'2'"><app-page-profolio02></app-page-profolio02></div>
  <div *ngSwitchDefault><app-page-profolio01></app-page-profolio01></div>
</div > -->


<div class="text-white">
  <!-- <markdown ngPreserveWhitespaces>
      # Markdown
  </markdown> -->
  <div class="TagArea">
    <h3>Tags:</h3>
      <span class="Tag" *ngFor="let tag of tags"><button type="button" class="btn btn-primary" (click)="onClickSearchByTag(tag)">
    {{tag}}
    </button></span>
  </div>


  <markdown [src] = "path"></markdown>
</div>
