.Blog{
  background: black;
  // height:100vh;
}

.MainPage{
  //padding-top:5%;
  padding-left: 10%;
  padding-right: 10%;
  .MainContent{
    //margin-top:100px;
    //background: white;
    //height:100vh;
  }
}
