<!-- Profolio Page -->
<div class="container text-white">

  <div class="jumbotron text-white">
    <h1>The Last Guardian</h1>
    <p>It's a Virtual Reality Game</p>
    <p>2 People Team in NDHU</p>
  </div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Bacis</b>
  </span>
</div>
<div class="">
  <p>This is a virtual reality tower-defense game. The player needs to protect the tower in a limited time.</p>
  <p>You could unleash the magic by drawing charms.</p>
</div>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Features</b>
  </span>
</div>
<div class="ProfolioContent">
  <p> In this game, you could experience unleashing the magic by drawing charms in a VR world. Here are some features</p>
  <ul class="ProfolioContent">
    <li>High online-handwriting gesture recognition rate</li>
    <li>Beautiful magic virtual effects powered by Unreal</li>
  </ul>
  <br>
  <br>
</div>





<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Gallery</b>
  </span>
</div>
<!-- [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)" -->
<ngb-carousel #carousel interval="1000">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h3> Game Shots {{i+1}} </h3>
    </div>
    <a href="https://www.google.fr/?q=Number+{{i+1}}"  target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img class="img-fluid" [src]="img" alt="My image {{i + 1}} description">
      </div>
    </a>
  </ng-template>
</ngb-carousel>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Link</b>
  </span>
</div>
<div>
  <a href="https://drive.google.com/open?id=1hS_AWVwkbm-fORV75Sliz6Gn7Lo3OQIO">The Last Guardian Game Link</a>
  <br>
  <br>
</div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Game Video</b>
  </span>
</div>
<div class="container d-flex justify-content-center">
  <iframe class="align-middle" width="600"height="500" src="https://www.youtube.com/embed/cg9xyjw1k-0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




</div>



<!-- Template -->
<!-- <div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Title</b>
  </span>
</div>
<div class="">
  <p>Control</p>
</div> -->
