
  page-home works!

  <div class="card">
    <div class="card-header">头部</div>
    <div class="card-body">内容</div>
    <div class="card-footer">底部</div>
  </div>
  
  <div class="card" style="width:400px">
  <img class="card-img-top" src="https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjazrPnkorlAhWCY98KHdxlAcMQjRx6BAgBEAQ&url=https%3A%2F%2Fdl.pconline.com.cn%2Ffeatured%2F8213081.html&psig=AOvVaw3pW3K59OQWtw3XSujNWPYN&ust=1570537646514621" alt="Card image">
  <div class="card-body">
    <h4 class="card-title">John Doe</h4>
    <p class="card-text">Some example text.</p>
    <a href="#" class="btn btn-primary">See Profile</a>
  </div>
</div>
