<!-- Profolio Page -->
<div class="container text-white">

  <div class="jumbotron text-white">
    <h1>Drugmatic</h1>
    <p>This is a virtual reality drug experience focusing on teenagers.</p>
    <p>5 People Team in MIT Reality Virtually Hackathon</p>
  </div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Project Bacis</b>
  </span>
</div>
<div class="ProfolioContent">
  <p>"Drugmatic" is a virtual reality drug experience focusing on teenagers. Based on research of true feelings after taking drugs, teenagers will have a taste of the illusion. During this experience, they will also have chances to make a change, and to stop this dramatic wired and fake world.</p>
  <p>Once a decision is made, there is no going back. Fantastic or horrifying, they have to go through the entire illusion by themselves. By the end of this experience, they will realize the unpredictable result of drugs.</p>
</div>



<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Project Interaction</b>
  </span>
</div>
<div >
  <ul class="ProfolioContent">
    <li>Natural hand movement instead of traditional controllers</li>
    <li>Create your own illusion by hand drawing</li>
    <li>Choose your own adventure</li>
    <li>Incorporate taste and touch into own VR experience</li>
  </ul>
  <br>
  <br>
</div>




<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Devpost Link</b>
  </span>
</div>
<div>
    <a href="https://devpost.com/software/drugmatic">Drugmatic Devpost Link</a>
    <br>
    <br>
</div>


<div class="ProfolioTitleHeader row h-100">
  <span class="ProfolioTitle justify-content-center align-self-center text-dark">
    <b>Project Video</b>
  </span>
</div>
<div class="container d-flex justify-content-center">
  <iframe class="align-middle" width="600"height="500" src="https://www.youtube.com/embed/5-fb9Ds3mkM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>




</div>
